<%= render :partial => 'menu_clientes' %>
<div class="grid_10">
	<div class="box round">
<h2>Alterar Cliente</h2>

<%= render 'form' %>

<%= link_to 'Show', @cliente %> |
<%= link_to 'Back', clientes_path %>
</div>
</div>
