<%= render :partial => 'menu_fornecedores' %>
<div class="grid_10">
	<div class="box round">
<h2>Editing fornecedor</h2>

<%= render 'form' %>

<%= link_to 'Show', @fornecedor %> |
<%= link_to 'Back', fornecedors_path %>
</div>
</div>
