<%= render :partial => 'menu_subgrupos' %>
<div class="grid_10">
	<div class="box round">
<h2>Alterar Subgrupo</h2>

<%= render 'form' %>

<%= link_to 'Show', @subgrupo %> |
<%= link_to 'Back', subgrupos_path %>
</div>
</div>
