<%= render :partial => 'menu_kits' %>
<div class="grid_10">
	<div class="box round">
<h2>Alterar kit</h2>

<%= render 'form' %>

<%= link_to 'Show', @kit %> |
<%= link_to 'Back', kits_path %>
</div>
</div>
