<%= render :partial => 'menu_grupos' %>
<div class="grid_10">
	<div class="box round">
<h2>Editar Grupo</h2>

<%= render 'form' %>

<%= link_to 'Show', @grupo %> |
<%= link_to 'Back', grupos_path %>
</div>
</div>
