<%= render :partial => 'menu_cidades' %>
<div class="grid_10">
	<div class="box round">
<h2>Alterar Cidade</h2>

<%= render 'form' %>

<%= link_to 'Show', @cidade %> |
<%= link_to 'Back', cidades_path %>
</div>
</div>
