<script type="text/javascript">
	
	 $(document).ready(function () {
            setupLeftMenu();
	});
</script>
<div class="grid_2">
            <div class="box sidemenu">
                <div class="block" id="section-menu">
                    <ul class="section menu">
                        <li><a class="menuitem">Cadastro</a>
                            <ul class="submenu">
                                <li><a href="/rota/new">Cadastro</a> </li>
                                <li><a href="/rota">Lista</a> </li>
                              	<li><a href="/rota/retorno_rota">Retorno</a></li>
                            </ul>
                        </li>
                        <li><a class="menuitem">Retorno</a>
                            <ul class="submenu">
                                <li><a href="/rota/retorno_conferencia">Conferencia</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>