<html id='lugar'>
<head></head>
<body>
	Esta aqui
	<form  action="/do_login" method="post">
		Login
		<input type="text" id="login" name="login"/>
		<br />
		Senha
		<input type="text" id="senha" name="senha"/><br />
		<input type="submit" value="Enviar">		
	</form>
</body>
</html>
