<%= render :partial => 'menu_vendedores' %>
<div class="grid_10">
	<div class="box round">
<h2>Alterar Vendedor</h2>

<%= render 'form' %>

<%= link_to 'Show', @vendedor %> |
<%= link_to 'Back', vendedors_path %>
</div>
</div>
