<div class="menu-container">
			<ul class="memu js-enabled">
				<li class="memu-root">
					<a href="#">Cadastros</a>
					<ul>
						<li class="has-children">
							<a href="sample_2.html"><div class="memu-icon sprite-folder"></div>Produtos</a>
							<ul>
								<li><a href="/produtos/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/produtos"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
								<li><a href="/nota_entradas/new"><div class="memu-icon sprite-script_code"></div>Entrada</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Kits</a>
							<ul>
								<li><a href="/kits/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/kits"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Clientes</a>
							<ul>
								<li><a href="/clientes/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/clientes"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Vendedores</a>
							<ul>
								<li><a href="/vendedors/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/vendedors"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Grupos</a>
							<ul>
								<li><a href="/grupos/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/grupos"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Subgrupos</a>
							<ul>
								<li><a href="/subgrupos/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/subgrupos"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Cidades</a>
							<ul>
								<li><a href="/cidades/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/cidades"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Fornecedores</a>
							<ul>
								<li><a href="/fornecedors/new"><div class="memu-icon sprite-page_white"></div>Novo</a></li>
								<li><a href="/fornecedors"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="memu-root">
					<a href="#">Rotas</a>
					<ul>
						<li class="has-children">
							<a href="#"><div class="memu-icon sprite-folder"></div>Cadastro</a>
							<ul>
								<li><a href="/rota/new"><div class="memu-icon sprite-page_white"></div>Nova</a></li>
								<li><a href="/rota"><div class="memu-icon sprite-script_code"></div>Lista</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="memu-root">
					<a href="#">Relatórios</a>
					<ul>
						<li><a href="#">Word Wrap</a></li>
						<li><a href="#">Font...</a></li>
					</ul>
				</li>
				<li class="memu-root">
					<a href="#">Ajuda</a>
					<ul>
						<li><a href="#">Status Bar</a></li>
					</ul>
				</li>
			</ul>
			<img src="background.jpg" alt="Background" />
		</div>