      <div class="grid_12">
            <ul class="nav main">
                <li class="ic-form-style"><a href="javascript:"><span>Cadastros</span></a>
                    <ul>
                        <li><a href="/produtos">Produtos</a> </li>
                        <li><a href="/grupos">Produtos Grupos</a> </li>
                        <li><a href="/subgrupos">Produtos Subgrupos</a> </li>
                        <li><a href="/kits">Kits</a> </li>
                        <li><a href="/clientes">Clientes</a> </li>
                        <li><a href="/vendedors">Vendedores</a> </li>
                        <li><a href="/cidades">Cidades</a> </li>
                        <li><a href="/fornecedors">Fornecedores</a> </li>
                        
                    </ul>
                </li>
                <li class="ic-form-style"><a href="/rota"><span>Rotas</span></a></li>
                <li class="ic-typography"><a href="typography.html"><span>Typography</span></a></li>
				<li class="ic-charts"><a href="charts.html"><span>Charts & Graphs</span></a></li>
                <li class="ic-grid-tables"><a href="table.html"><span>Data Table</span></a></li>
                <li class="ic-gallery dd"><a href="javascript:"><span>Image Galleries</span></a>
               		 <ul>
                        <li><a href="image-gallery.html">Pretty Photo</a> </li>
                        <li><a href="gallery-with-filter.html">Gallery with Filter</a> </li>
                    </ul>
                </li>
                <li class="ic-notifications"><a href="notifications.html"><span>Notifications</span></a></li>

            </ul>
        </div>
        <div class="clear">
        </div>